<table>
    <thead>
        <th>Identificador</th>
        <th>Tipo de Ayuda</th>
        <th>Cantidad de existencias</th>
    </thead>
    <tbody>
        <tr *ngFor='let ayuda of ayudas'>
            <td>{{ayuda.identificador}}</td>
            <td>{{ayuda.tipo}}</td>
            <td>{{ayuda.exist}}</td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <th>Identificacion</th>
        <th>Nombre</th>
        <th>Tipo de Ayuda</th>
    </thead>
    <tbody>
        <tr *ngFor='let persona of personas'>
            <td>{{persona.identificacion}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.tipo}}</td>
        </tr>
    </tbody>
</table>