<form>
    <div class="todo">
        <div class="x">
            <label>Identificador: </label><br>
            <input type="number" name="identificador" [(ngModel)]="ayuda.identificador">
        </div>
        <div class="x">
            <label>Tipo de suministro: </label><br>
            <select name="tipo" [(ngModel)]="ayuda.tipo">
        <option>Portatil</option>
        <option>Tablet</option>
        <option>Bicicleta</option>
      </select>
        </div>
        <div class="x">
            <label>Cantidad de existencias: </label><br>
            <input type="number" name="exist" [(ngModel)]="ayuda.exist" />
        </div>
        <div class="x">
            <button type="button " (click)='add()'>Registrar</button>
            <button type="button " (click)='clear()'>Erase</button>
        </div>
    </div>
</form>
<app-registropersonas></app-registropersonas>